.env
__pycache__
chart_jsons
pokemon_cdfs/xxl_classes_dict.py
pokemon_cdfs/xxl_classes_sources/*
pogo_game_master.json
leaderboards/cyberscore-leaderboards*
*.bak
leaderboards/archive/*
leaderboards/*.csv
/qodana.yaml
/data
